body {
  font: 14px;
  margin: 0;
  font-family: inter;
}

.container-navbar {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.logo {
  padding: 30px;
}

.navbar-text {
  display: flex;
  padding: 5px;
}

.navbar__text {
  padding: 10px 30px;
  color: #b8becd;
  font-weight: 400;
  font-size: 16px;
}
.navbar__text__home {
  padding: 10px 30px;
  color: #202336;
  font-weight: 500;
  font-size: 16px;
}

.navbar-button {
  padding: 15px 0px;
}

.navbar__button {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}
.navbar__button__lg {
  background: white;
  border-radius: 8px;
  color: #FB8F1D;
  border-color: #FB8F1D;
  border-style: solid;
  width: 100px;
  height: 40px;
  margin: 0px 18px;
}
.navbar__button__reg {
  background: #FB8F1D;
  border-radius: 8px;
  color: white;
  border-color: #FB8F1D;
  border-style: solid;
  width: 100px;
  height: 40px;
}

.header__text {
  font-family: Playfair Display;
  font-size: 64px;
  line-height: 80px;
  width: 356px;
  height: 160px;
}

.container-finder {
  padding: 30px;
  display: grid;
}
.container-finder-text {
  font-weight: 600;
  font-size: 22px;
  line-height: 27px;
  font-family: inter;
}

.holiday-finder {
  display: grid;
  grid-template-columns: 300px auto;
  grid-gap: 35px;
  padding: 48px 0px;
}
.holiday-finder-button {
  background: #FB8F1D;
  border-radius: 8px;
  color: white;
  border-color: #FB8F1D;
  border-style: solid;
  width: 180px;
  height: 52px;
}

.finder-location {
  width: 270px;
  height: 54px;
  font-size: 15px;
  line-height: 32px;
  border: 0.8px solid #AFB0B9;
  border-radius: 6px;
  padding: 0px 25px;
}

.container-header {
  display: flex;
}

.header-img {
  padding: 100px 0px 0px 150px;
}

.section2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.section2-img {
  padding: 150px 0px 0px 30px;
}
.section2-info {
  padding: 230px 0px 0px 50px;
}
.section2-title {
  font-family: Playfair Display;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 50px;
}
.section2-text {
  font-family: inter;
  font-style: normal;
  font-weight: 300;
  font-size: 17px;
  line-height: 300x;
  color: #7D7987;
}
.section2-button {
  margin: 50px 0px 0px 0px;
  background: #FB8F1D;
  border-radius: 8px;
  border-color: #FB8F1D;
  border-style: solid;
  color: white;
  width: 160px;
  height: 48px;
}

.section3 {
  padding: 150px 0px 0px 0px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.section3-title {
  padding: 0px 0px 0px 70px;
  font-family: Playfair Display;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 50px;
}
.section3-link {
  padding: 0px 0px 0px 0px;
  text-decoration: none;
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 17px;
  line-height: 60px;
  display: flex;
  align-items: center;
  color: #FB8F1D;
}
.section3-link-image {
  padding: 0px 0px 0px 5px;
}
.section3-gallery {
  padding: 50px 0px 50px 60px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.section3-gallery-strong {
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 17px;
  line-height: 25px;
  color: #042521;
}
.section3-gallery-indonesia {
  color: #80918E;
  font-size: 14px;
  padding-right: 50px;
  position: relative;
  width: 260px;
  height: 330px;
  background: url(../img/image1.png) no-repeat rgba(0, 0, 0, 0);
  border-radius: 10px;
}
.section3-gallery-indonesia-text {
  padding: 5px 5px 0px 0px;
  position: absolute;
  bottom: -5%;
  text-transform: uppercase;
  background-color: white;
  border-radius: 0px 6px 0px 0px;
}
.section3-gallery-china {
  color: #80918E;
  font-size: 14px;
  position: relative;
  padding-right: 50px;
  width: 260px;
  height: 330px;
  background: url(../img/image2.png) no-repeat rgba(0, 0, 0, 0);
  border-radius: 10px;
}
.section3-gallery-china-text {
  padding: 5px 5px 0px 0px;
  position: absolute;
  bottom: -5%;
  text-transform: uppercase;
  background-color: white;
  border-radius: 0px 6px 0px 0px;
}
.section3-gallery-switzerland {
  color: #80918E;
  font-size: 14px;
  padding-right: 50px;
  position: relative;
  width: 261px;
  height: 332px;
  background: url(../img/image3.png) no-repeat rgba(0, 0, 0, 0);
  border-radius: 10px;
}
.section3-gallery-switzerland-text {
  padding: 5px 5px 0px 0px;
  position: absolute;
  bottom: -5%;
  text-transform: uppercase;
  background-color: white;
  border-radius: 0px 6px 0px 0px;
}
.section3-gallery-montenegro {
  color: #80918E;
  font-size: 14px;
  padding-right: 50px;
  position: relative;
  width: 261px;
  height: 332px;
  background: url(../img/image4.png) no-repeat rgba(0, 0, 0, 0);
  border-radius: 10px;
}
.section3-gallery-montenegro-text {
  padding: 5px 5px 0px 0px;
  position: absolute;
  bottom: -5%;
  text-transform: uppercase;
  background-color: white;
  border-radius: 0px 6px 0px 0px;
}

.section4 {
  padding: 150px 0px 50px 40px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.section4-info {
  padding: 150px 0px 50px 50px;
}
.section4-title {
  font-family: Playfair Display;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 50px;
}
.section4-text {
  font-family: inter;
  font-style: normal;
  font-weight: 300;
  font-size: 17px;
  line-height: 300x;
  color: #7D7987;
}
.section4-button {
  margin: 50px 0px 0px 0px;
  background: #FB8F1D;
  border-radius: 8px;
  border-color: #FB8F1D;
  border-style: solid;
  color: white;
  width: 160px;
  height: 48px;
}

.section5 {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.section5-info {
  padding: 150px 0px 50px 50px;
}
.section5-info-title {
  font-family: Playfair Display;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 50px;
  padding: 0px 0px 120px 0px;
}
.section5-info-stars {
  width: 150px;
  height: 20px;
}
.section5-info-text {
  font-family: inter;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;
}
.section5-info-name {
  font-family: Inter;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
}
.section5-info-profession {
  font-family: Inter;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}
.section5-gallery {
  padding: 230px 0px 50px 100px;
  position: relative;
}
.section5-gallery-button {
  padding: 20px;
  position: absolute;
  top: 85%;
  left: 44%;
  background-color: white;
  border-radius: 16px 0px;
}
.section5-gallery-button-back {
  background-color: white;
  border-color: white;
  border-style: solid;
}
.section5-gallery-button-next {
  background-color: white;
  border-color: white;
  border-style: solid;
}

.footer {
  background-color: #F9F9FB;
  padding: 50px 0px 0px 0px;
}
.footer-info {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.footer-title {
  font-family: inter;
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 20px;
}
.footer-text {
  font-family: inter;
  font-style: normal;
  font-weight: 300;
  font-size: 13px;
  line-height: 15px;
}
.footer-info {
  padding: 0px 0px 20px 0px;
}
.footer-logo {
  padding: 10px 10px 0px 35px;
}
.footer-logo-text {
  font-family: inter;
  font-style: normal;
  font-weight: 300;
  font-size: 13px;
  line-height: 20px;
  color: #848484;
}
.footer-img {
  align-items: center;
}
.footer-img-line {
  color: #C4C4C4;
  border-style: solid;
}
.footer-img-social {
  text-align: center;
}/*# sourceMappingURL=style.css.map */